@model IEnumerable<AGV.Models.Servico>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataIda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataVolta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.qtdPassageiros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.preco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataIda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataVolta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qtdPassageiros)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.preco)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idservico">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idservico">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idservico">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
